{% extends "stock/base.html" %}

{% block head-content %}All items{% endblock head-content %}

{% block content_title %}<h2>All items in all warehouses</h2>{% endblock content_title %}

{% block content %}


<table>
  <tr>
    <th>ID</th>
    <th>Item</th>
    <th>State</th>
    <th>Date of stock</th>
    <th>Location</th>
  </tr>

  {% for item in all_items_data %}
  <tr>
    <td>{{ item.id }}</td>
    <td><a href={% url 'stock:search' item.category %}>{{ item.category }}</a></td>
    <td>{{ item.state }}</td>
    <td>{{ item.date_of_stock }}</td>
    <td>{{ item.warehouse }}</td>
  </tr>
  {% endfor %}

</table>

{% endblock content %}

